@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Nav_glovo {
  background-color: #f6c45d;
  display: flex;
  justify-content: space-between;
}
.nav_img {
  padding-top: 50px;
  width: 20%;
  padding-left: 120px;
}
.nav_button {
  border: 0;
  margin-top: 50px;
  border-radius: 30px;
  width: 7%;
  margin-right: 120px;
  background-color: #479e83;
  color: white;
}
.Nav_glovo2 {
  padding-top: 7%;
  background-color: #f6c45d;
  text-align: center;
}
.nav2_h1 {
  font-size: 60px;
  font-family: "Signika Negative", sans-serif;
}
.nav2_input {
  margin-top: 50px;
  width: 300px;
  height: 50px;
}
.nav2_button {
  margin-top: 50px;
  height: 50px;
  color: white;
  background-color: #479e83;
  border: 0;
}

.Nav_glovo3 {
  background-color: #f6c45d;
  display: flex;
  padding-top: 80px;
  justify-content: space-around;
  font-family: "Libre Baskerville", serif;
}
.Nav_glovo3 img {
  background-color: aliceblue;
  border-radius: 70px;
  height: 90px;
}
.Nav_glovo3 div {
  display: flex;
  flex-direction: column;
}
.Nav_glovo3 button {
  border: 0;
  background-color: #f6c45d;
  color: black;
}
.Content {
  padding-top: 50px;
}
.content_we {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 800px;
}
.osortiment {
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1000px;
  margin-left: 16%;
}
.osortiment h3 {
  font-size: 25px;
}
.osortiment img {
  width: 240px;
  height: 170px;
  border-radius: 30px;
}
.ok {
  display: flex;
  flex-direction: row;
}
.ok img {
  width: 30px;
  height: 20px;
}

.content_we2 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 800px;
  padding-top: 50px;
}
.Content2 {
  padding-top: 100px;
  text-align: center;
  font-family: "Signika Negative", sans-serif;
}
.dom_button {
  padding-top: 40px;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
}
.dom_button button {
  margin-top: 10px;
  background-color: #f6c45d;
  border: 0;
  font-size: 19px;
  border-radius: 150px;
  width: 180px;
  height: 40px;
}
.Knam {
  padding-top: 170px;
  text-align: center;
  font-family: "Signika Negative", sans-serif;
}
.ruka_btn {
  background-color: #ecf7f5;
  padding-top: 70px;
  display: flex;
  justify-content: space-around;
  font-family: "Libre Baskerville", serif;
}
.ruka_btn div {
  text-align: center;
  max-width: 25%;
}
.ruka_btn img {
  width: 300px;
}
.ruka_btn button {
  border: 0;
  background-color: #479e83;
  width: 170px;
  height: 40px;
  border-radius: 100px;
  color: #ecf7f5;
}
#q1 {
  margin-top: 45px;
}
#q2 {
  margin-top: 10px;
}
#q3 {
  margin-top: 27px;
}

.footer {
  background-color: #1d1d1d;
  margin-top: 200px;
  font-family: "Signika Negative", sans-serif;
}
.img {
  padding-left: 8%;
}
.footer_glovo1 {
  padding-top: 28px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  max-width: 86%;
  padding-left: 20%;
}
.footer_glovo1 div {
  color: white;
}
.footer_glovo1 h2 {
  font-size: 19px;
}
.footer_glovo1 h4 {
  font-size: 13px;
  padding-top: 30px;
}
.footer2 {
  background-color: #1d1d1d;
  font-family: "Signika Negative", sans-serif;
}
.footer2 div {
  padding-left: 5%;
  padding-top: 40px;
  color: white;
}
.footer_glovo2 h4 {
  padding-top: 9px;
}
#e3 {
  display: flex;
  padding-left: 2px;
}
#e3 h4 {
  padding-top: 6px;
  padding-left: 9px;
}
.hero {
  margin-left: 9%;
  margin-top: 30px;
  width: 250px;
  height: 40px;
  color: white;
  background-color: #1d1d1d;
}
